# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

In [1]:
import pandas as pd
import numpy as np
import cleaning_functions

In [2]:
#import csv files
data=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
datab=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv')
datac=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv')

In [3]:
#see columns 
print(data.columns)
print(datab.columns)
print(datac.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [4]:
#compare columns 
data.columns==datab.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [5]:
#explore files b
datab.isna().sum()

Customer                     2937
ST                           2937
GENDER                       3059
Education                    2937
Customer Lifetime Value      2944
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [6]:
#all files have same structures and data types
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   ST                         9137 non-null   object
 2   GENDER                     9015 non-null   object
 3   Education                  9137 non-null   object
 4   Customer Lifetime Value    9130 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly Premium Auto       9137 non-null   float64
 7   Number of Open Complaints  9137 non-null   object
 8   Policy Type                9137 non-null   object
 9   Vehicle Class              9137 non-null   object
 10  Total Claim Amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [7]:
print(data['Number of Open Complaints'].unique())
print(datab['Number of Open Complaints'].unique())
print(datac['Number of Open Complaints'].unique())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan '0' '2' '3' '1'
 '5' '4']
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan '0' '2' '3' '1'
 '5' '4']

In [30]:
concat_table_base = pd.concat([data, datab, datac], ignore_index=True)

In [34]:
concat_table_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28156 entries, 0 to 28155
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   19345 non-null  object
 1   ST                         19345 non-null  object
 2   GENDER                     18984 non-null  object
 3   Education                  19345 non-null  object
 4   Customer Lifetime Value    19328 non-null  object
 5   Income                     19345 non-null  float64
 6   Monthly Premium Auto       19345 non-null  float64
 7   Number of Open Complaints  19345 non-null  object
 8   Policy Type                19345 non-null  object
 9   Vehicle Class              19345 non-null  object
 10  Total Claim Amount         19345 non-null  float64
dtypes: float64(3), object(8)
memory usage: 2.4+ MB

In [32]:
concat_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19328 entries, 1 to 28155
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   19328 non-null  object
 1   st                         19328 non-null  object
 2   gender                     19328 non-null  object
 3   education                  19328 non-null  object
 4   customer_lifetime_value    19328 non-null  object
 5   income                     19328 non-null  float64
 6   monthly_premium_auto       19328 non-null  float64
 7   number_of_open_complaints  19328 non-null  object
 8   policy_type                19328 non-null  object
 9   vehicle_class              19328 non-null  object
 10  total_claim_amount         19328 non-null  float64
dtypes: float64(3), object(8)
memory usage: 1.8+ MB

In [8]:
concat_table = pd.concat([data, datab, datac], ignore_index=True)

In [9]:
concat_table

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
28151,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
28152,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
28153,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
28154,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
28155,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [10]:
%run cleaning_functions.py

In [11]:
#from cleaning_functions import drop_na_rows, make_col_names_lowercase, remove_blanks_in_col_names, fix_gender_types, fix_state_names_and_education_and_vehicle_class, convert_numeric_col_to_integers, cleaning_functions_dataframe

In [12]:
#from cleaning_functions import open_complaints_fix_len_check

In [13]:
#create df copy
df2 = concat_table.copy()

In [14]:
#execute cleaning functions
    df2 = concat_table.copy()   
    
    df2 = drop_na_rows(df2, 'Customer','Customer Lifetime Value')
    df2 = make_col_names_lowercase(df2)
    df2 = remove_blanks_in_col_names(df2)
    df2 = fix_gender_types(df2)
    df2 = fix_state_names_and_education_and_vehicle_class(df2)
    df2 = convert_numeric_col_to_integers(df2)
    df2 = open_complaints_fix_len_check(df2,'number_of_open_complaints')

In [20]:
df2['gender'].unique()

array(['F', 'M', None], dtype=object)

In [38]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19328 entries, 1 to 28155
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   19328 non-null  object
 1   st                         19328 non-null  object
 2   gender                     19328 non-null  object
 3   education                  19328 non-null  object
 4   customer_lifetime_value    19328 non-null  object
 5   income                     19328 non-null  float64
 6   monthly_premium_auto       19328 non-null  float64
 7   number_of_open_complaints  19328 non-null  int64
 8   policy_type                19328 non-null  object
 9   vehicle_class              19328 non-null  object
 10  total_claim_amount         19328 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.8+ MB

In [22]:
df3=df2.copy()

In [24]:
# NULL REPLACING: some values in the gender column remained null. 
# Therefore a forward fill was applied to avoid removing those rows completely
df3['gender'] = df3['gender'].fillna(method='ffill')

In [37]:
#change number of open complaints to inf. This could have been implemented in the previous functions

df3['number_of_open_complaints'] = df3['number_of_open_complaints'].astype(int)

In [41]:
#call function to fix customer lifetime value
df4=remove_char_in_rows(df3,'customer_lifetime_value','%')

In [44]:
#change customer lifetime value type to float. This could have been implemented in the previous function
df4['customer_lifetime_value'] = df4['customer_lifetime_value'].astype(float)

In [48]:
concat_table=df4.copy()

In [49]:
concat_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19328 entries, 1 to 28155
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   19328 non-null  object
 1   st                         19328 non-null  object
 2   gender                     19328 non-null  object
 3   education                  19328 non-null  object
 4   customer_lifetime_value    19328 non-null  float64
 5   income                     19328 non-null  float64
 6   monthly_premium_auto       19328 non-null  float64
 7   number_of_open_complaints  19328 non-null  int64
 8   policy_type                19328 non-null  object
 9   vehicle_class              19328 non-null  object
 10  total_claim_amount         19328 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 1.8+ MB

In [50]:
concat_table.to_csv('output_concat_table.csv', index=False)

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [52]:
#step 1 read data
marketing_data=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

In [53]:
#step 2 brief overview of data structure
marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [63]:
#step 3 create new dataframe grouping sales channel and aggregating revenues

rev_per_channel=round(marketing_data.groupby('sales_channel').agg({'monthly_premium_auto': sum}),2)

In [65]:
#showcase results table
display(rev_per_channel)

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

#comments
looking at total revenue (if premiums are the company revenue)= 
Agent brings the highest amount of revenue at 386k, Branch comes in second with 280k followed by call center 197k adn web 151k.

In [ ]:
#Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [71]:
#create new table
clv_table=round(marketing_data.groupby(['gender','education']).agg({'customer_lifetime_value': 'mean'}),2)

In [73]:
clv_table.columns=['gender','education','avg cust lifetime value']

ValueError: Length mismatch: Expected axis has 1 elements, new values have 3 elements

In [72]:
#showcase results
display(clv_table)

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

In [76]:
clv_table.describe()

       customer_lifetime_value
count                10.000000
mean               7927.378000
std                 400.138883
min                7328.510000
25%                7714.905000
50%                7963.365000
75%                8155.210000
max                8675.220000

#comments
average customer lifetime value is highest for females with highschool or below followed by Masters from both F and M genders.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here